extends ../base.pug

block content
  h3 #{action} customer
  form(method="POST")
    .form-group
      label(for="title") First Name
      input.form-control(type="text", name="title", id="title", value=book.title)
    .form-group
      label(for="author") Last Name
      input.form-control(type="text", name="author", id="author", value=book.author)
    .form-group
      label(for="description") Description
      input.form-control(type="text", name="description", id="description", value=book.description)
    .form-group
    button.btn.btn-success(type="submit") Save
    .form-group
      label(for="description") Description
      input.form-control(type="text", name="description", id="description", value=book.description)
    .form-group
    button.btn.btn-success(type="submit") Save